/* Hareketli yazı*/

.marquee-container {
    overflow: hidden;
    width: 100%;
    background: black;
    margin-top: 10px;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    padding: 8px;
    border-radius: 10px;
}

.marquee span {
    color: white;
    display: inline-block;
    padding-right: 10px; /* Adjust spacing between text repetitions */
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Hareketli yazı*/

/* ************* */

/* 1.Kart */
