body {
    background-color:white;
}

.iletisim {
    display: flex;
    justify-content: center; /* Yatayda ortalamak için */
    align-items: center;
    text-align: center;

}

.iletisim input {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
}
